@import "header";
@import "main";
@import "footer";
@import "baserules";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* transition: 0.5s ease all; */
  a{
    text-decoration: none;
    cursor: pointer;
  }
}

.cuerpo{
  border-top: 5px;
  border-bottom: 5px;
  border-left: 0;
  border-right: 0;
  border-color: #572EE5;
  border-style: solid;
  background-color: #FFFFFF;
  min-height: 100vh;
}

.cuerpo-dark{
  border-top: 5px;
  border-bottom: 5px;
  border-left: 0;
  border-right: 0;
  border-color: #000000;
  border-style: solid;
  background-color: #37383C;
  min-height: 100vh;
}